
#movie-info-wrapper {
	background: transparent;
	height: 100%;
}

#movie-info {
	margin: auto;
	display: flex;
	height: 100%;
}

.movie-title {
	padding: 0.2rem 0;
	margin: 0;
	font-weight: bold;
	font-size: 1.2rem;
}

#movie-poster {
	max-width: 40vw;
	max-height: 90vh;
	margin: 0.7rem;
}

#movie-text {
	margin: 0.7rem;
	margin-left: 0;
	margin-bottom: 0;
	overflow-y: auto;
	max-height: 94vh;
}

#movie-date-and-rating {
	font-weight: bold;
}

#movie-genres {
	margin-top: 1rem;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#error-info {
	padding: 1rem;

	h1 {
		text-align: center;
	}
}


.movie-genre {
	background: var(--bg-accent);
	padding: 0.3rem;
	margin: 0.1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.monetization-header {
	margin: 0;
	margin-top: 0.5rem;
}

.pair * {
	display: inline;
	margin: 0;
}

.pair *:nth-child(2) {
	float: right;
}

@media only screen and (max-width: 820px) {
	#movie-info-wrapper {
		margin-left: 0;
	}

	#movie-info {
		max-width: 75vw;
		display: inherit;
	}

	#movie-text {
		margin: 0;
		overflow-y: unset;
		max-height: unset;
	}

	#movie-poster {
		max-height: inherit;
		margin: 0;
		max-width: 100%;
	}
}
